// This file deliberately contains unusual whitespace
// The first two strings are empty
node """
  	""" """
 	 \
             
 	 """ """
                            
 """\
    \ // The next two strings contains only whitespace
    """
       
       
      \s 
    """ #"""
    

  """#
