// This file deliberately contains unusual whitespace
// Parsing should fail because not all strings have a matching multiline prefix,
// which must be exact, down to the codepoint, _before_ newline normalization.
node """
  	""" """
 	 \
             
 	 """ """
                            
 """\
    \ // The next two strings contains only whitespace
    """
       
       
      \s 
    """ #"""
    

  """#
