// This file deliberately contains unusual whitespace
// The first three strings are empty, because whitespace-only lines collapse to
// just `\n`.
node """
  	""" """
 	 \
             
 	 """ """
                             
 """\
    \ // The next two strings contains only whitespace
    """
       
           
      \s 
    """ #"""
      

  """#
